@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.buttonElemento, .buttonCompra {
  border: solid;
  border-color: #242424;
  background-color: #ADD8E5;
  text-align: center; }

.navbar-nav {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  font-weight: 700; }

@media (max-width: 991px) {
  header {
    border: none;
    width: auto; }
    header nav ul li {
      display: inline-flex;
      justify-content: center;
      padding: 0.1rem;
      margin: 0;
      font-weight: 800;
      font-size: 0.6rem; } }

footer {
  background-color: transparent;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 800;
  grid-area: footer;
  position: block;
  bottom: 0; }
  footer nav ul {
    padding: 0; }
    footer nav ul li {
      text-decoration: none;
      list-style: none;
      display: inline-flex;
      padding: 0;
      margin: 0.2rem;
      text-transform: uppercase; }
      footer nav ul li a {
        text-decoration: none;
        list-style: none;
        color: black; }
      footer nav ul li a:hover {
        font-weight: 700; }
  @media (max-width: 991px) {
    footer {
      justify-content: center;
      padding: 0.2rem;
      font-size: 0.6rem;
      text-align: center;
      font-weight: 800;
      grid-area: footer; } }

.body {
  background-color: #FFD375;
  font-size: 15px;
  font-family: "Space Mono", monospace;
  margin: 0;
  color: #242424; }

#mainLogo {
  width: 100%;
  height: auto;
  padding: 2rem;
  margin: 2rem;
  animation: bounceInDown;
  animation-duration: 1s; }

#printerGif {
  width: 80%;
  height: auto; }

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "title title title title" "logo logo gif gif" "logo logo carrusel carrusel";
  align-items: center;
  background-color: #B3BEC3;
  gap: 0.5em; }
  @media (max-width: 991px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr 0.8fr;
      grid-template-areas: "logo" "gif" "carrusel";
      gap: 5px;
      margin: 0;
      padding: 15px; } }

#title {
  grid-area: title;
  text-align: center;
  animation: fadeIn;
  animation-duration: 1s; }
  @media (max-width: 991px) {
    #title {
      display: none; } }

#logo {
  grid-area: logo;
  width: 80%; }
  @media (max-width: 991px) {
    #logo {
      text-align: center; } }

#gif {
  grid-area: gif;
  transform: rotate(0);
  animation: backInRight;
  animation-duration: 2s; }
  @media (max-width: 991px) {
    #gif {
      text-align: center;
      width: 100%; } }

#gif:hover {
  transform: rotate(-10deg);
  transition: 3s; }

#carouselExampleCaptions {
  grid-area: carrusel;
  width: 80%;
  transition: all 2s;
  animation: backInUp;
  animation-duration: 2s; }
  @media (max-width: 991px) {
    #carouselExampleCaptions {
      margin-right: 0;
      text-align: center;
      width: 100%;
      margin-top: 30px; } }

#carouselExampleCaptions:hover {
  transform: scale(1.2); }

.carousel-caption {
  color: #242424; }

.carrusel {
  width: 80%;
  margin: 2rem;
  display: inline-flex;
  height: auto; }

@media (max-width: 991px) {
  #mainCarrusel {
    margin: 0;
    padding: 0;
    width: 100%; } }

#mainCotizaciones {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.05fr 1fr 1fr 0.05fr;
  grid-template-areas: "titulo titulo" "cotizaciones archivo" "cotizaciones archivo" "botonCot botonArc";
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  gap: 15px;
  align-items: start; }
  @media (max-width: 991px) {
    #mainCotizaciones {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 0.8fr 0.2fr 1fr 0.2fr;
      grid-template-areas: "titulo" "cotizaciones" "botonCot" "archivo" "botonArc";
      gap: 5px;
      padding: 15px;
      padding-top: 5px;
      max-width: 100%; } }

#tituloCotizaciones {
  grid-area: titulo;
  padding: 5px;
  animation: fadeIn;
  animation-duration: 1s; }

#formularioCotizaciones {
  grid-area: cotizaciones;
  max-width: 80%; }
  @media (max-width: 991px) {
    #formularioCotizaciones {
      max-width: 100%; } }

#archivo3d {
  grid-area: archivo;
  max-width: 80%; }
  @media (max-width: 991px) {
    #archivo3d {
      max-width: 100%; } }

#buttonCotizaciones {
  grid-area: botonCot; }

#buttonArchivo {
  grid-area: botonArc; }

.buttonElemento .buttonElemento:hover {
  transform: scale(1.01); }

#mainProductos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr 2fr;
  grid-template-areas: "titulo titulo titulo titulo titulo" "productos productos productos productos productos" "ofertas ofertas ofertas ofertas ofertas" "insumos insumos insumos insumos insumos";
  padding-left: 2rem;
  padding-right: 2rem; }
  @media (max-width: 991px) {
    #mainProductos {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 4fr 4fr;
      grid-template-areas: "titulo" "productos" "insumos" "ofertas";
      text-align: center;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      width: 100%; } }

#tituloProductos {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 1s; }

#productos {
  grid-area: productos;
  font-size: 1.3rem; }

#listaProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid;
  border-width: 2px;
  border-color: white;
  font-size: 1.0rem;
  padding: 1em; }

#ofertas {
  grid-area: ofertas;
  font-size: 1.3rem; }

#listaOfertas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid;
  border-width: 2px;
  border-color: white;
  font-size: 1.0rem;
  padding: 1em; }

#insumos {
  grid-area: insumos;
  font-size: 1.3rem; }

#listaInsumos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid;
  border-width: 2px;
  border-color: white;
  font-size: 1.0rem;
  padding: 1em; }

@media (max-width: 991px) {
  .cardElemento {
    margin-top: 20px;
    width: 100%; } }

.cardElemento:hover {
  transform: scale(1.03);
  background-color: #d0d1d2; }

#mainElemento {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 1fr 0.1fr 1fr;
  grid-template-areas: "titulo titulo titulo titulo" "imagen imagen imagen imagen" "similares similares similares similares" "oferta oferta oferta oferta";
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 15px; }
  @media (max-width: 991px) {
    #mainElemento {
      grid-template-columns: 1fr;
      grid-template-rows: 0.05fr 0.4fr 0.1fr 0.5fr;
      grid-template-areas: "titulo" "imagen" "similares" "oferta";
      padding: 15px;
      width: 100%;
      margin: 0;
      justify-content: center; } }

#tituloElemento {
  grid-area: titulo;
  font-size: 2rem;
  padding-left: 2rem; }

#mainElemento .card {
  grid-area: imagen; }

#similares {
  grid-area: similares; }

#listaOfertasElemento {
  grid-area: oferta;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.buttonCompra {
  border-radius: 5px; }
  .buttonCompra .buttonCompra:hover {
    transform: scale(1.1); }

.buttonElemento {
  border-radius: 5px; }
  .buttonElemento .buttonElemento:hover {
    transform: scale(1.1); }

.mainCard {
  background-color: #dedede;
  padding-right: 2em; }

#mainContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "titulo titulo" "contacto mapa" "contacto mapa";
  padding-left: 2rem;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 25px;
  align-items: flex-start; }
  @media (max-width: 991px) {
    #mainContacto {
      grid-template-columns: 1fr;
      grid-template-rows: 0.25fr 1fr 1fr;
      grid-template-areas: "titulo" "contacto" "mapa";
      padding: 1em;
      margin: 0;
      justify-content: center; } }

#formaContacto {
  grid-area: contacto; }

#tituloContacto {
  grid-area: titulo;
  padding-top: 1em;
  animation: fadeIn;
  animation-duration: 1s; }

#mapaContacto {
  grid-area: mapa; }

.mapResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.mapResponsive iframe {
  left: 0;
  top: 0;
  height: 95%;
  width: 95%;
  position: absolute; }

#mainSobreNosotros {
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 3fr;
  grid-template-areas: "titulo" "subtitulo" "articulo";
  padding-left: 2rem;
  padding-right: 2rem; }
  @media (max-width: 991px) {
    #mainSobreNosotros {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 0.3fr 2fr;
      grid-template-areas: "titulo" "subtitulo" "articulo";
      padding: 1em;
      margin: 0;
      margin-left: 0;
      text-align: justify; } }

#sobreNosotrosTitulo {
  grid-area: titulo;
  font-size: 2rem;
  animation: fadeIn;
  animation-duration: 1s; }
  @media (max-width: 991px) {
    #sobreNosotrosTitulo {
      text-align: left; } }

#sobreNosotrosSubtitulo {
  grid-area: subtitulo;
  font-size: 1.2rem;
  animation: fadeIn;
  animation-duration: 3s; }

#articulo {
  display: flex;
  flex-direction: column;
  grid-area: articulo;
  border: solid;
  border-width: 2px;
  border-color: white;
  padding: 2rem;
  font-size: 1.1rem;
  animation: fadeIn;
  animation-duration: 1s; }

#imgArticulo {
  width: 50%;
  height: auto; }
