

$paleta: (
    'mainColor': #B3BEC3,
    'secondaryColor': #FFD375,
    'thirdColor': #FFF684,
    'fourthColor': #ADD8E5,
    'fifthColor': #d0d1d2,
    'sixColor': #dedede,
    'textColor': rgb(36, 36, 36)
);

%button {
    border: solid;
    border-color: map-get($map: $paleta, $key: textColor);
    background-color: map-get($map: $paleta, $key: fourthColor);
    text-align: center;
}