

$paleta: (
    'mainColor': #FFFFC2,
    'secondaryColor': #C4EBF1,
    'thirdColor': #FFF684,
    'fourthColor': #ADD8E5,
    'fifthColor': #FFD301,
    'sixColor': #89C7E7,
    'textColor': rgb(36, 36, 36)
);

%button {
    border: solid;
    border-color: map-get($map: $paleta, $key: textColor);
    background-color: map-get($map: $paleta, $key: fourthColor);
}

@mixin imagen($ancho, $alto, $color){
    width: $ancho;
    height: $alto;
    border: solid;
    border-color: $color;
    border-radius: 5px;
}