#mainContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "titulo titulo"
                         "contacto mapa"
                         "contacto mapa";
    
    padding-left: 2rem;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 25px;
    align-items: flex-start;
    @media (max-width: 991px){
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
        grid-template-areas: "titulo"
                             "contacto"
                             "mapa";
        padding: 1em;
        margin: 0;
        justify-content: center;
    }
}

#formaContacto{
    grid-area: contacto;
}


#tituloContacto{
    grid-area: titulo;
    padding-top: 1em;

    animation: fadeIn;
    animation-duration: 1s;
}

#mapaContacto{
    grid-area: mapa;

}

.mapResponsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.mapResponsive iframe{

    left:0;
    top:0;
    height:95%;
    width:95%;
    position:absolute;

}