#mainSobreNosotros{
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.4fr 0.4fr 3fr 3fr;
    grid-template-areas: "titulo titulo"
                         "subtitulo subtitulo"
                         "articulo imagen"
                         "imagen1 articulo1";
    padding-left: 2rem;
    padding-right: 2rem;
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    grid-template-rows: 0.12fr 0.1fr 0.5fr 2fr 0.5fr 2fr;
    grid-template-areas: "titulo"
                         "subtitulo"
                         "imagen"
                         "articulo"
                         "imagen1"
                         "articulo1";                    
    padding: 1em;
    margin: 0;
    margin-left: 0;
    text-align: justify;
}

}

#sobreNosotrosTitulo{
    grid-area: titulo;
    font-size: 2rem;

    animation: fadeIn;
    animation-duration: 1s;
    @media (max-width: 991px){
        text-align: left;
    }
}

#sobreNosotrosSubtitulo{
    grid-area: subtitulo;
    font-size: 1.2rem;

    animation: fadeIn;
    animation-duration: 3s;
}

#articulo{
    display: flex;
    flex-direction: column;
    grid-area: articulo;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: 2rem;
    font-size: 1.1rem;

    animation: fadeIn;
    animation-duration: 1s;
}

#articulo1{
    grid-area: articulo1;
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: 2rem;
    font-size: 1.1rem;

    animation: fadeIn;
    animation-duration: 1s;
}

#imgArticulo{
 grid-area: imagen;
}

#imgArticulo1{
    grid-area: imagen1;
}

.imgArticulo{
    width: 100%;
}