body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(0,80,80,1) 100%);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}
/*navbar y header*/
header {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    grid-area: header;
}

header nav{  
    width: auto;
    height: auto;
    background-color: transparent;
    text-align: left;
}

header nav ul li {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.2rem;
    margin: 0.2rem;
    font-weight: 600;
    font-size: 0.8rem;
}

header nav ul li:hover{
    transform: scale(1.2);
    background-color: teal;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: white;
}

/*main del index*/

#mainLogo{
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 2rem;
}

#printerGif{
    width: 60%;
    height: auto;
}


main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-areas: "title title . ."
                         "logo logo gif gif"
                         "logo logo carrusel carrusel" ;
    align-items: center;
}

#title{
    grid-area: title;
    text-align: center;
    color: white;
}

#logo{
    grid-area: logo;
    width: 80%;
}

#gif{
    grid-area: gif;
}

#carrusel{
    grid-area: carrusel;
}

.carrusel{
    width: 80%;
    margin: 2rem;
    display: inline-flex;
    height: auto;
}

/*inicio footer*/

footer{
    background-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    grid-area: footer;
    position: block;
    bottom: 0;
}
footer nav ul{
    padding: 0;
}

footer nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0.2rem;
    text-transform: uppercase;
}

footer nav ul li:hover{
    transform: scale(1.1);
    background-color: teal;
}

footer nav ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
}

/*inicio distintas páginas*/
/*productos*/

#mainProductos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 2fr 2fr 2fr;
    grid-template-areas: "titulo titulo titulo titulo titulo"
                         "productos productos productos productos productos"
                         "ofertas ofertas ofertas ofertas ofertas"
                         "insumos insumos insumos insumos insumos";
    padding-left: 2rem;
    padding-right: 2rem;
}

#tituloProductos{
    grid-area: titulo;
    display: flex;
    justify-content: center;
}

#productos{
    grid-area: productos;
    font-size: 1.3rem;
}
#listaProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
    border-color: white;
    font-size: 1.2rem;
}

#ofertas{
    grid-area: ofertas;
    font-size: 1.3rem;

}
#listaOfertas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
    border-color: white;
    font-size: 1.2rem;
}

#insumos{
    grid-area: insumos;
    font-size: 1.3rem;
}
#listaInsumos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
    border-color: white;
    font-size: 1.2rem;
}


/*Contacto*/

#mainContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-areas: "titulo titulo"
                         "contacto mapa"
                         "contacto mapa";
    
    padding-left: 2rem;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 25px;
}

#formaContacto{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1em;
    height: 90%;
}

#mapaContacto{
    border: solid;
    border-width: 2px;
    border-color: white;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1em;
    height: 90%;
}

#tituloContacto{
    grid-area: titulo;
}

#mapaContacto{
    grid-area: mapa;
}



/*Sobre nosotros*/

#mainSobreNosotros{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: "titulo"
                         "subtitulo"
                         "articulo";
    padding-left: 2rem;
    padding-right: 2rem;

}

#sobreNosotrosTitulo{
    grid-area: titulo;
    font-size: 2rem;
}

#sobreNosotrosSubtitulo{
    grid-area: subtitulo;
    font-size: 1.2rem;
}

#articulo{
    display: flex;
    flex-direction: column;
    grid-area: articulo;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: 2rem;
    font-size: 1.1rem;
}

#imgArticulo{
    width: 50%;
    height: auto;
}

/*cotizaciones*/

#mainCotizaciones{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo"
                         "cotizaciones archivo"
                         "cotizaciones archivo";
    padding-left: 2em;
    padding-right: 2em;
    margin: 25px;
    gap: 15px;
}

#tituloCotizaciones{
    grid-area: titulo;
    padding: 5px;
}

#formularioCotizaciones{
    grid-area: cotizaciones;
    font-size: 1.2rem;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding-left: 2rem;
    padding-bottom: 2rem;
    height: 90%;
}
#formularioCotizaciones form{
    justify-content: space-between;
}

#archivo3d{
    display: flex;
    grid-area: archivo;
    font-size: 1.2rem;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    height: 90%;
}

/*producto unico (elemento)*/

#mainElemento{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-areas: "titulo titulo"
                         "imagen descripcion"
                         "chart chart";
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 15px
}

#tituloElemento{
    grid-area: titulo;
    font-size: 2rem;
    padding-left: 2rem;

}

#imgElemento{
    display: flex;
    justify-content: center;
    grid-area: imagen;
    align-items: center;
    padding-left: 5rem;
    width: 80%;
}

#descripcionElemento{
    grid-area: descripcion;
}
#descripcionElemento h2{
    font-size: 2rem;
}

#descripcionElemento p{
    font-size: 1.2rem;
}


#chartElemento{
    grid-area: chart;
    font-size: 1.2rem;
    padding-left: 5rem;
}


@media (max-width: 768px){

    /*nav y footer comunes, responsive*/
    header{
        border: none;
        width: auto;
    }

    header nav ul li {
        display: inline-flex;
        justify-content: center;
        padding: 0.1rem;
        margin:0;
        font-weight: 800;
        font-size: 0.6rem;
    }

    footer{
        justify-content: center;
        padding: 0.2rem;
        font-size: 0.6rem;
        text-align: center;
        font-weight: 800;
        grid-area: footer;
    }
    

    /*main index responsive*/
    main{  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.8fr;
        grid-template-areas: "logo"
                             "gif"
                             "carrusel" ;
        gap: 5px;
        margin-right: 0;
        margin-left: 1em;
  }

  #logo{
      margin: 0;
      padding: 0;
      width: 80%;
      align-self: center;
  }

  #mainLogo{
      margin: 0;
      padding: 0;
      align-self: center;
      justify-content: center;
  }

  .carrusel{
      width: 80%;
      padding: 0;
      margin: 0;
  }

  #title{
      display: none;
  }

  /*Cotizaciones responsive*/
  #mainCotizaciones{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 2fr;
    grid-template-areas: "titulo"
                         "cotizaciones"
                         "archivo";
    text-align: justify;
    gap: 5px;
    margin-left: 2em;
    padding: 0;
}

#mainCotizaciones .submit{
    width: 100%;
}

#formularioCotizaciones{
    padding: 1em;
}
#archivo3d{
    padding: 1em;
    display: block;
}

/*productos responsive*/

#mainProductos{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr 4fr;
    grid-template-areas: "titulo"
                         "productos"
                         "insumos"
                         "ofertas";
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#listaProductos{
    flex-direction: column;
    padding: 0;
}


#listaOfertas{
    flex-direction: column;
    padding: 0;
}


#listaInsumos{
    flex-direction: column;
    padding: 0;
}

/*contacto responsive*/

#mainContacto{
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-areas: "titulo"
                         "contacto"
                         "mapa";
    padding: 0;
}

#formaContacto{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

#mapaContacto{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}
 /*elemento responsive*/

#mainElemento{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: "titulo"
                         "imagen"
                         "descripcion"
                         "chart";
    padding: 0;
    margin-left: 1em;
    text-align: justify;
}

#imgElemento{

    padding-left: 1em;
    width: 95%;
}

/*sobre nosotros responsive*/

#mainSobreNosotros{
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 2fr;
    grid-template-areas: "titulo"
                         "subtitulo"
                         "articulo";                    
    padding: 1em;
    margin: 0;
    margin-left: 1em;
    text-align: justify;
}

#sobreNosotrosTitulo{
    text-align: left;
}


}